
        <section class="search">
            <h1>Search</h1>

            <form class="search-form" action="/toys/search" method="get">
                <input type="text" class="search-title" name="searchTitle" placeholder="Search Title..." value="{{searchTitle}}">
                <input type="text" class="search-charity" name="searchCharity" placeholder="Search Charity..." value="{{searchCharity}}">
                <button type="submit" class="btn-search">Search</button>
            </form>

            <!--If there are matches after search-->
            {{#if filtered}}
            <div class="search-result">
                <div class="search-list">
                    {{#each filtered}}
                    {{> toyCard}}
                    {{/each}}
                </div>
            </div>
            {{else}}
            <!--If there are no matches-->
           <div class="no-match">
                <p>No match was found!</p>
            </div>
            {{/if}}
        </section>