<a href="/catalog/{{_id}}/details" class="added-toys-in-market">
            <img src="{{imgUrl}}" class="picture-added-toys">
            <h3>{{title}}</h3>
            <span>Price: ${{price}}</span>
        </a>